.app-header
  %h3{class: 'h3 zero-margin'}
    To-Do Rails App

.dashboard
  %nav{class: 'dashboard-navigation'}
    %ul.list
      %li.list-item
        = link_to 'Add new', new_note_path, class: 'navigation-link'
      %li.list-item
        = link_to 'Add 10 notes', new_note_path, class: 'navigation-link'

  %div{class: 'new-note'}
    %h1.h1
      Edit note
    = form_with scope: :note, url: notes_path, local: true do |form|
      %div{class: 'note-form'}
        %div
          = form.text_area :title, placeholder: "Title", class: 'title' 
        %div
          = form.text_area :body, placeholder: "Description", class: 'body' 
        %div
          = form.submit class: 'navigation-link submit'
    %nav.navigation
      = link_to 'Back', notes_path, class: 'navigation-link' 