
  <div class='dashboard-body'>
    <h2 class='h2 body-header'>Notes list</h2>
    <ul class='dashboard-notes'>
      <% @notes.each do |note| %>
        <div class='note'>
          <div class= 'h3'>
            <%= note.title %>
          </div>
          <div class= 'body'>
            <%= note.body %>
          </div>
          <nav class='navigation'>
            <%= link_to "Details", note, class: 'link' %> 
            <%= link_to 'Edit', edit_note_path(note.id), class: 'link' %> 
            <%= link_to 'Delete', note, method: :delete, data: { confirm: 'Are you sure?' }, class: 'link' %> 
          </nav>
        </div>
      <% end %>
    </ul>
  </div>
