<!DOCTYPE html>
<html>
  <head>
    <title>RailsTodoApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class='app-header'>
      <h3 class='h3 zero-margin'>To-Do Rails App</h3>
    </div>

    <div class='dashboard'>
      <nav class='dashboard-navigation'>
        <ul class='list'>
            <li class='list-item'><%= link_to 'Add New', new_note_path, class: 'navigation-link' %></li>
            <li class='list-item'><%= link_to 'Add 10 Notes',multiple_new_notes_path, method: :put, data: { confirm: 'Are you sure?' }, class: 'navigation-link' %></li> 
            <li class='list-item'><%= link_to 'Delete All',destroy_all_notes_path, method: :delete, data: { confirm: 'Are you sure?' }, class: 'navigation-link' %></li> 
        </ul>
      </nav>
    <%= yield %>
    </div>
  </body>
</html>
